<!DOCTYPE html>
 <html>
   <head>
     <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
   </head>
   <body>
     <h1>Hello </h1>
     <p>
       Congratulations!!!! You got your tickets booked.. Yay!!!!
     </p>
     <strong>
       Confirmation: 
       </strong>
     <p> 
     Buckle Up, buddy, we are going on a tour :) 
       <%# <%= @reply.message %>  %>
     </p>
 
      <p>Cheers,</p>
     <p>Real Estate Company</p>
   </body>
 </html> 