<!DOCTYPE html>
 <html>
   <head>
     <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
   </head>
   <body>
     <h1>Hello </h1>
     <strong>
       Confirmation: Congratulations! You are going to love this!
       </strong>
     <p> 
     Buckle Up, buddy, we are going on a tour :) 
       <%# <%= @reply.message %> 
     </p>
 
      <p>Cheers,</p>
     <p>Tour Application</p>
   </body>
 </html> 